.container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: white;
    border-right: 4px solid #17181b;
}

.profilePicture {
    width: 100%;
    filter: grayscale(100%);
    cursor: pointer;
    position: relative;
}
.profilePicture:hover {
    filter: none;
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(141,153,174, 0.5);
    backdrop-filter: blur(5px);
}

.eye {
    position: absolute;
    width: 76px;
    height: 18px;
    box-sizing: border-box;
    top: 37.3%;
    left: 62px;
}

.eyeball {
    box-sizing: border-box;
    position: absolute;
    top: 40.6%;
    left: 49%;
    transform: translate(-50%, -50%);
    transition: top ease 400ms, left ease 550ms;
    width: 64px;
}
