.navLink {
    color: #8d8974;
    text-decoration: none;
    display: block;
    padding: 12px;
    border-bottom: 1px solid white;
    text-align: right;
    position: relative;
    background-color: #17181b;
    transition: left ease 300ms;
    left: 0;
}

.navLink:hover {
    left: 10px;
}

.active {
    color: white;
    font-weight: bold;
    background-color: #766363;
    position: static;
}
