body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

:global(#root) {
  height: 100vh;
}

.mainBody {
  display: flex;
  height: 100%;
  background-color: #17181b;
  color: white;
}

.navbar {
  width: 205px;
}